{% extends "layout.twig" %}

{% block body %}
    <article class="blog">
        <div class="date">
            <time datetime="{{ data.blog.created }}"></time>
        </div>
        <header>
            <h2><a href="show.php?id={{ data.blog.id }}">{{ data.blog.title }}</a></h2>
        </header>
        <img src="img/{{ data.blog.image }}" alt="Blog Image" />
        <div class="snippet">
            <p>{{ data.blog.blog }}</p>
        </div>
        <footer class="meta">
            <p>Comments: <a href="#">{{ data.blog.numComments() }}</a></p>
            <p>Posted by <span class="highlight">{{ data.blog.author }}</span> at {{ data.blog.created }}</p>
            <p>Tags: <span class="highlight">{{ data.blog.tags }}</span></p>
        </footer>
    </article>
{% endblock %}

{% block sidebar %}
    {{ include("sidebar.twig", { tags: tags, allComments: data.comments }) }}
{% endblock %}